<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.android.dicasaprovacao"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrimeiraDicaActivity"
            android:label="@string/title_activity_primeira_dica" />
        <activity
            android:name=".SegundaDicaActivity"
            android:label="@string/title_activity_segunda_dica" />
        <activity
            android:name=".TerceiraDicaActivity"
            android:label="@string/title_activity_terceira_dica" />
        <activity
            android:name=".QuartaDicaActivity"
            android:label="@string/title_activity_quarta_dica" />
        <activity
            android:name=".QuintaDicaActivity"
            android:label="@string/title_activity_quinta_dica" />
        <activity
            android:name=".PontuacaoActivity"
            android:label="@string/title_activity_pontuacao"></activity>
    </application>

</manifest>
